html,body{
	padding: 0;
	margin: 0;
}
body{
	background: url('https://cdn.shopify.com/s/files/1/0340/3381/t/16/assets/bg-body.png');
	background-repeat: repeat;
}
header, main{
	width: 1180px; 
	margin: 0 auto;
	background-color: #fff;
	padding: 0 15px 0 15px;
}
/*******************/
/*Start Header Top*/
/*****************/
header #top{
	width: 100%;
	float: left;
}
header #top article{
	font-family: "Arial",arial,helvetica,sans-serif,verdana;
	font-size: 13px;
	width: 50%;
	float: left;
	text-align: left;
	background-color: #000;
}
header #top article a{
	text-decoration: none;
	color: #fff;
}
header #top article a p{
	margin: 10px 10px 10px 80px;
}
header #top nav{
	float: left;
	width: 50%;
	background-color: #000;
}
header #top nav ul li{
	width: 33%;
	text-align: right;
	float: left;
	display: inline;
}
header #top ul li a{
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
	color: #fff;
	font-family: "Courier";
	font-size: 11px;
}
header #top ul li:hover a{
	text-decoration: underline;
	color: #D9D9D9;
	cursor: pointer;
	cursor: hand;
}
header #top nav ul li a img{
	margin: 0 0 0 auto;
	display: block;
	float: right;	
}
header #top nav ul li a p{		
	color: #fff;
	font-size: 11px;
	margin: 0 auto;
}
header #top nav ul a:hover p{
	text-align: underline;
	color: #d9d9d9;
}
/**********************/
/*Start Header Middle*/
/********************/
header #middle{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #middle div{
	width: 33.33%;
	float: left;
	margin: 0 auto;
}
header #middle div span{
	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/t/17/assets/bkg-icons6.png');
	background-position: 0px -88px;
	background-repeat: no-repeat;
	height: 38px;
	width: 40px;
	float: left;
}
header #middle div a{
	text-decoration: none;
	text-align: right;
}
header #middle div img{
	display: block;
	margin: 0 auto;
}
/********************/
/*Start Header Bottom*/
/******************/
header #bottom{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #bottom nav ul li{
	width: 14%;
	display: inline;
	float: left;
	text-align: center;	
}
header #bottom nav ul li a{
	text-decoration: none;
	font-family: "Courier";
	color: #000;	
	font-weight: 600;
}
header #bottom ul li:hover a{
	text-decoration: underline;
}
/********************/
/*Start Main Top*/
/******************/
main #top{
	width: 100%;
	float: left;
	background-color: #fff;
}

/********************/
/*Start Main Middle*/
/******************/

main #middle{
	width: 100%;
	float: left;
	background-color: #fff;
}
main #middle h2{
	text-align: center;
	font-family: "Courier";
}
main #middle figure{
	width: 25%;
	float: left;
	margin: 0;
	min-height: 400px;
}
main #middle figure img{
	width: 280px;
	height: 280px;
	display: block;
	margin: 0 auto;
}
main #middle figure img:hover{
	opacity: .4;
	transition: all 1s ease-in-out;
}
main #middle figure figcaption{
	width: 100%;
	text-align: center;
	font-family: "Courier";
	font-size: 12px;
	float: left;
}
main #middle figure figcaption span{
	font-weight: bold;
	text-align: center;
	width: 50%;
	float: left;
}
.slash{
	text-decoration: line-through;
	float: left;
	color: #f00;
	width: 50%;
}

 /*trying to get image to change on hover*/
.image-overlay{
 	width: 280px;
 	height: 280px;
 	transition: all 1s ease-in-out;
 	display: block; 
 	opacity: 1;
 }
.image-overlay:hover{
 	opacity: .4;
 }
main #middle figure #img-one, main #middle figure #img-two, main #middle figure #img-three, main #middle figure #img-four, main #middle figure #img-five{
 	background-repeat: repeat;
 	background-size: 100% 100%; 
}
main #middle figure #img-one{
  background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/001_grande.jpg?v=1426202040');
} 
main #middle figure #img-one:hover{
 	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/004_large.jpg?v=1426202040');
}
main #middle figure #img-two{
  background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/034_grande.jpg');
} 
main #middle figure #img-two:hover{
 	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/037_large.jpg');
}
main #middle figure #img-three{
  background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/017_grande.jpg');
} 
main #middle figure #img-three:hover{
 	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/020_large.jpg');
}
main #middle figure #img-four{
  background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/kCv8vNoxp_Z9pYeEL6LKzamk2vcEr_6iHWONPg8y_6Y_grande.jpeg');
} 
main #middle figure #img-four:hover{
 	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/UG8X6NtubYlFmyEUuuloUjICBwHb6aoM1N8hg2O3Lac_large.jpeg');
}
main #middle figure #img-five{
  background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/150123YR0126_grande.jpg?v=1426202115');
} 
main #middle figure #img-five:hover{
 	background-image: url('http://cdn.shopify.com/s/files/1/0340/3381/products/150123YR0126_5-Edit_large.jpg?v=1426202115');
}
 /*trying to get image to change on hover*/

/********************/
/*Start Main Bottom*/
/******************/
main #bottom{
	width: 100%;
	float: left;
}
main #bottom p{
	width: 100%;
	float: left;
}
main #bottom p button{
	display: block;
	margin: 0 auto;
}
main #bottom figure{
	width: 50%;
	float: left;
	margin: 0;
}
main #bottom figure img{
	display: block;
	margin:0 auto;
}
/*****************/
/*Start Foot Top*/
/***************/
footer{
	width: 100%;
	float: left;
}