body{
	background: url('https://cdn.shopify.com/s/files/1/0340/3381/t/16/assets/bg-body.png');
	background-repeat: repeat;
}
header{
	width: 100%;
	float: left;
}
.wrap{
	width: 1180px; 
	margin: 0 auto;
	background-color: #fff;
}
/***************/
/*Start Header*/
/*************/
